<html class=" js csstransitions">
<head>
<title>质保卡查询</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="{$Think.config.host_url}/public/static/index/css/new/style.css">
<link rel="stylesheet" type="text/css" href="{$Think.config.host_url}/public/static/index/css/new/index.css">
<script src="{$Think.config.host_url}/public/static/index/css/new/jquery.min.js"></script>
<script src="{$Think.config.host_url}/public/static/index/css/new/modernizr.custom.97074.js"></script>
<script src="{$Think.config.host_url}/public/static/index/js/my.js"></script>
	<!--
	描述：header开始
-->
	</head><body><header>
		<div class="wrap">
			<h1 class="logo fl">
				<a href="{$Think.config.host_url}/public/index.php/index/index/"><img src="{$Think.config.host_url}/public/static/index/css/new/hg_logo.png" style="width:100px; height:45px"></a>
			</h1>
			<div class="info fr">
				<div class="login fr">
					{if condition="$user neq ''"}
					<font color="#ccc">欢迎您，{$user}! <span>|</span>
					<!--<a href="http://huge.com/public/index.php/index/index/resetpwd">修改密码</a><span>|</span>-->
					<a href="{$Think.config.host_url}/public/index.php/index/member/">会员中心</a><span>|</span>
					<a href="{$Think.config.host_url}/public/index.php/index/index/logout">退出</a></font>
					{else /}
					<!--<a href="{$Think.config.host_url}/public/index.php/index/index/register">注册</a><span>|</span>
					<a href="{$Think.config.host_url}/public/index.php/index/index/login">登录</a>-->
					<!-- 登录 -->
					{/if}
				</div>
			</div>
		</div>
	</header>
	<!--
	描述：header结束
-->
	<div style="background: url('{$Think.config.host_url}/public/static/index/css/new/lgbg.jpg')no-repeat;background-size: cover;">
		<div class="wrap">
			
			
			
			
			
		<!--描述：body部分开始-->
        <div class="bodyBG">
        	<div class="loginMin">
        		<div>
		        	<div class="loginTitle zct">质保卡查询</div>
	                <div class="EmailRegister">
	                	 <form id="userinfoform" name="userinfoform" method="post"  action="search_security_code">
							<label style="width:130px">防伪码</label><input type="text" name="security_code" id="security_code" placeholder="请输入防伪码" autofocus="autofocus" value="" style="width:250px">&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" name="check_security_code" value="查询" class="submt" onclick="checksecuritycode()" style="width:150px"><br/>
	                	</form>
	                </div>
	                
					<br>
	                <br>
					<br>
					<div style="margin:0 auto"><label style="color:#FFF; text-align:center;"><h3>查询结果：</h3>
					{empty name="data"}
					<p>你的防伪码可能还未录入系统;</p>
					{else /}
					<p>你的防伪码是正品！</p>
					{/empty}
					
					{notempty name="patient"}使用者：{$patient}{/notempty}
					</label></div>
					<br>
					<br>
					<br>
					<br>
					<br>
                </div>
        	</div>
        </div>
        
		<!--描述：body部分结束-->
		</div>

	</div>
	<div class="footer">
		<div class="wrap">
			
		</div>

		<div class="keep">
			<div class="wrap">
				
			</div>
		</div>
	</div>
</body>
</html>