<div class="accordion" fillSpace="sideBar">
	<div class="accordionHeader">
		<h2><span>Folder</span>订单管理</h2>
	</div>
	<div class="accordionContent">
		<ul class="tree treeFolder">
			<li><a href="customer.php?do=CustomerOrderIndex" target="navTab" rel="customerorderindex">下客户订单</a></li>
			<li><a href="order.php?do=customerorder" target="navTab" rel="myorder">客户订单列表</a></li>
			<!--<li><a href="order.php?do=truckorder" target="navTab" rel="completeorder">分车订单</a></li>-->
			<li><a href="statistics.php?do=truckstatistic" target="navTab" rel="truckstatistic">分车单</a></li>
			<li><a href="statistics.php?do=goodsstatistic" target="navTab" rel="goods_stastics">采购单</a></li>
			<li><a href="statistics.php?do=month" target="navTab" rel="goods_stastics">订单月统计</a></li>
		</ul>
	</div>
</div>