<!DOCTYPE html>
<html>
<head>
    <title>积分设置</title>
    <meta charset="UTF-8">
	
	<link rel="stylesheet" type="text/css" href="{$Think.config.host_url}/public/static/Css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.config.host_url}/public/static/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.config.host_url}/public/static/Css/style.css" />
    <script type="text/javascript" src="{$Think.config.host_url}/public/static/Js/jquery.js"></script>
    <script type="text/javascript" src="{$Think.config.host_url}/public/static/Js/jquery.sorted.js"></script>
    <script type="text/javascript" src="{$Think.config.host_url}/public/static/Js/bootstrap.js"></script>
    <script type="text/javascript" src="{$Think.config.host_url}/public/static/Js/ckform.js"></script>
    <script type="text/javascript" src="{$Think.config.host_url}/public/static/Js/common.js"></script>

</head>
<body>
<form action="../admin/credit/update" method="post" class="definewidth m20">
<table class="table table-bordered table-hover definewidth m10">
	{volist id="list" name="list"}
	<tr>
        <td width="50%" class="tableleft"  style="line-height:27px;">{$list.title}：</td>
        <td  style="line-height:27px;"><input type="text" name="them_{$list.id}" value="{$list.credits}" placeholder=""/></td>
    </tr>
    {/volist}
    <tr>
        <td></td>
        <td  style="line-height:27px;">
            <button type="submit" class="btn btn-primary" type="button">保存</button> &nbsp;&nbsp;<button type="button" class="btn btn-success" name="backid" id="backid">返回列表</button>
        </td>
    </tr>
</table>
</form>
</body>
</html>
<script>
    $(function () {       
		$('#backid').click(function(){
				window.location.href="index.html";
		 });

    });
</script>