<!DOCTYPE html>
<html>
<head>
    <title>编辑修复体</title>
    <meta charset="UTF-8">
	
	<link rel="stylesheet" type="text/css" href="{$Think.config.host_url}/public/static/Css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.config.host_url}/public/static/Css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="{$Think.config.host_url}/public/static/Css/style.css" />
    <script type="text/javascript" src="{$Think.config.host_url}/public/static/Js/jquery.js"></script>
    <script type="text/javascript" src="{$Think.config.host_url}/public/static/Js/jquery.sorted.js"></script>
    <script type="text/javascript" src="{$Think.config.host_url}/public/static/Js/bootstrap.js"></script>
    <script type="text/javascript" src="{$Think.config.host_url}/public/static/Js/ckform.js"></script>
    <script type="text/javascript" src="{$Think.config.host_url}/public/static/Js/common.js"></script>

</head>
<body>
<form action="../Fixtype/edit_fix_type_detail_action" method="post" class="definewidth m20">
<input type="hidden" name="id" value="{$data.id}">
<table class="table table-bordered table-hover definewidth m10">
	<tr>
        <td width="50%" class="tableleft"  style="line-height:27px;">修复体名称：</td>
        <td  style="line-height:27px;">
        	<select name="false_tooth_id">
        		<option value="">请选择</option>
        		{volist id="list" name="list"}
        		<option value="{$list.false_tooth_id}" {if $list.false_tooth_id == $data.false_tooth_id}selected="selected"{/if}>{$list.false_tooth_name}</option>
        		{/volist}
        	</select>
        </td>
   </tr>
   <tr>
        <td width="50%" class="tableleft"  style="line-height:27px;">产品明细：</td>
        <td  style="line-height:27px;"><input type="text" name="product_detail" value="{$data.product_detail}" placeholder=""/></td>
   </tr>
    <tr>
        <td></td>
        <td  style="line-height:27px;">
            <button type="submit" class="btn btn-primary" type="button">编辑</button> &nbsp;&nbsp;<button type="button" class="btn btn-success" name="backid" id="backid">返回列表</button>
        </td>
    </tr>
</table>
</form>
</body>
</html>
<script>
    $(function () {       
		$('#backid').click(function(){
				window.location.href="index.html";
		 });

    });
</script>